*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
elpa
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
projectile.cache
session*
.cask
tramp
/var/pcache
.emacs.desktop
.emacs.desktop.lock
network-security.data
ac-comphist.dat
ido.last
/server
/transient
/elpy
